@{
    ViewBag.Title = "Contact";
}
<div id="contactBody" style="text-align:center;">
    <h2>Contact:</h2>
    <h3>Nathen.Lentz@gmail.com</h3>
    <h4>(913) 683-9979</h4>
    <h4>NaturalCodes.Net</h4>
    <div>
        I am avalible<br /> Monday - Friday <br />7am-6pm<br />
        Please feel free to contact me!
    </div>
</div>
