@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NaturalCodes.</h1>
    <p class="lead">Here is an in house application (<strong>Ticket Tracker</strong>). I have put it together using the knowledge and skills I have gained from the .Net Developer Track at <strong>Centriq.</strong></p>
</div>

<div class="row">
    <h2>A Little Info on this Application.</h2>
    <p>Login is required since this is an In House Application. For this reason we can monitor who is working on what and allow roles access to certain information.</p>
    <p>I have adapted the login partial so each user's photo is seen once logged in. With this simple tweak it make the look and feel a little more personable.</p>
    <p>In this application, we have <strong>Departments</strong>, <strong>Employees</strong>, and of course <strong>Tickets</strong>. Once logged in, Users can create tickets and view basic information.</p>
    <p>However, Techs have the opportunity to view and even edit more information. Admins have the most control, able to edit any and everything this app offers.</p>
    <p></p>
    <p>With the 8 days I have had to work on this, I feel it has met the minimum requirements and a little more. With more time I would like to deploy a messaging system so you could chat with fellow employees about the work task.</p>
</div>