@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:blue;">Yoga</h1>
    <p class="lead" style="color:blue;">
        The classical techniques of Yoga date back more than 5,000 years.
        In ancient times, the desire for greater personal freedom, health and long life, and heightened self-understanding gave birth to this system of physical and mental
        exercise which has since spread throughout the world. The word Yoga means “to join or yoke together,” and it brings the body and mind together into one harmonious experience.
    </p>
    <p><a href="https://www.facebook.com/inblissyoga/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-5">
        <dl>
            <dt>What is Yoga?</dt>
            <dd>
                The whole system of Yoga is built on three main structures: exercise, breathing, and meditation.
                The exercises of Yoga are designed to put pressure on the glandular systems of the body, thereby increasing its efficiency and total health.
                The body is looked upon as the primary instrument that enables us to work and evolve in the world, and so a Yoga student treats it with great care and respect.
                Breathing techniques are based on the concept that breath is the source of life in the body.
                The Yoga student gently increases breath control to improve the health and function of both body and mind.
                These two systems of exercise and breathing then prepare the body and mind for meditation, and the student finds an easy approach to a quiet mind that allows silence and
                healing from everyday stress.
                Regular daily practice of all three parts of this structure of Yoga produce a clear, bright mind and a strong, capable body.
                <br /><br /><strong>Types of Yoga</strong>
                <ul>
                    <li>Hatha Yoga: The physical movements and postures, plus breathing techniques. This is what most people associate with Yoga practice.</li>
                    <li>Raja Yoga: Called the “royal road,” because it incorporates exercise and breathing practice with meditation and study, producing a well-rounded individual.</li>
                    <li>Jnana Yoga: The path of wisdom; considered the most difficult path.</li>
                    <li>Bhakti Yoga: The practice of extreme devotion in one-pointed concentration upon one’s concept of God.</li>
                    <li>Karma Yoga: All movement, all work of any kind is done with the mind centered on a personal concept of God.</li>
                    <li>Tantra Yoga: A way of showing the unseen consciousness in form through specific words, diagrams, and movements.</li>
                    <li>Kashmir Shaivism: This Yoga system states that everything in the universe has both male and female qualities.</li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <dl>
            <dt>History of Yoga</dt>
            <dd>
                No one knows exactly when Yoga began, but it certainly predates written history. Stone carvings depicting figures in Yoga positions have been found in archeological sites in the Indus Valley dating back 5,000 years or more. There is a common misconception that Yoga is rooted in Hinduism; on the contrary, Hinduism’s religious structures evolved much later and incorporated some of the practices of Yoga. (Other religions throughout the world have also incorporated practices and ideas related to Yoga.)

                The tradition of Yoga has always been passed on individually from teacher to student through oral teaching and practical demonstration. The formal techniques that are now known as Yoga are, therefore, based on the collective experiences of many individuals over many thousands of years. The particular manner in which the techniques are taught and practiced today depends on the approach passed down in the line of teachers supporting the individual practitioner.

                One of the earliest texts having to do with Yoga was compiled by a scholar named Patanjali, who set down the most prevalent Yoga theories and practices of his time in a book he called Yoga Sutras (“Yoga Aphorisms”) as early as the 1st or 2nd century B.C. or as late as the 5th century A.D. (exact dates are unknown). The system that he wrote about is known as “Ashtanga Yoga,” or the eight limbs of Yoga, and this is what is generally referred to today as Classical Yoga. Most current adherents practice some variation of Patanjali’s system.

                <br />The eight steps of Classical Yoga are
                <ul>
                    <li>1) yama, meaning “restraint” — refraining from violence, lying, stealing, casual sex, and hoarding;</li>
                    <li>
                        2) niyama, meaning “observance” — purity, contentment, tolerance, study, and remembrance;
                    </li>
                    <li>
                        3) asana, physical exercises;
                    </li>
                    <li>
                        4) pranayama, breathing techniques;
                    </li>
                    <li>
                        5) pratyahara, preparation for meditation, described as “withdrawal of the mind from the senses”;
                    </li>
                    <li>
                        6) dharana, concentration, being able to hold the mind on one object for a specified time;
                    </li>
                    <li>
                        7) dhyana, meditation, the ability to focus on one thing (or nothing) indefinitely;
                    </li>
                    <li>
                        8) samadhi, absorption, or realization of the essential nature of the self. Modern Western Yoga classes generally focus on the 3rd, 4th, and 5th steps.
                    </li>
                </ul>

                Yoga probably arrived in the United States in the late 1800s, but it did not become widely known until the 1960s, as part of the youth culture’s growing interest in anything Eastern. As more became known about the beneficial effects of Yoga, it gained acceptance and respect as a valuable method for helping in the management of stress and improving health and well-being. Many physicians now recommend Yoga practice to patients at risk for heart disease, as well as those with back pain, arthritis, depression, and other chronic conditions.
            </dd>
        </dl>
    </div>
</div>