@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Delete";
}

<h2 style="text-align:center;">Delete</h2>

<h3 style="text-align:center;">Are you sure you want to delete User?</h3>
<div>
    <h4 style="text-align:center;">User.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="text-align:center;">
            <input type="submit" value="Delete" class="btn btn-danger" /> <br /><br />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
